
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }

    function isRole(role) {
      return isSignedIn() && getUserData(request.auth.uid).roles.hasAny([role]);
    }

    function isAdmin() {
      return isRole('Admin');
    }
    
    function isDisputeParticipant(dispute) {
      return request.auth.uid == dispute.requesterId ||
             (dispute.parties != null && (
               request.auth.uid == dispute.parties.jobGiverId ||
               request.auth.uid == dispute.parties.installerId
             ));
    }

    // Collection Rules
    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isOwner(userId);
      allow update: if isOwner(userId) || isAdmin();
      allow delete: if isAdmin();
    }
    
    match /jobs/{jobId} {
      allow read, list: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if (isSignedIn() && request.auth.uid == resource.data.jobGiver.id) || isAdmin();
      allow delete: if isAdmin();
    }
    
    match /blacklist/{blacklistId} {
      allow read, list: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /coupons/{couponId} {
      allow read, list: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }
    
    match /subscriptionPlans/{planId} {
      allow read, list: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /disputes/{disputeId} {
      allow read: if isDisputeParticipant(resource.data) || isAdmin();
      allow create: if isSignedIn();
      allow update: if isDisputeParticipant(resource.data) || isAdmin();
      allow delete: if isAdmin();
    }
    
    match /transactions/{transactionId} {
        allow read: if isOwner(resource.data.payerId) || isOwner(resource.data.payeeId) || isAdmin();
        allow list: if isAdmin();
        allow create, update, delete: if isAdmin();
    }
  }
}
